@use '~Settings/sizes' as *;

/* Validation Code Input */
.input-number input.form-control.validation-code-input {
	font-size: 58px;
	height: 90px;
	letter-spacing: 6px;
	padding-bottom: 24px;
	padding-top: 24px;
	text-align: center;
	user-select: auto;
	width: 189px;
}

.input-number input.form-control.validation-code-input::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	font-size: 30px;
}

input.form-control.validation-code-input:focus {
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
}
/* Validation Code Input */

.list.list-group {
	overflow: visible;
}

/* Helpers */
.bottom-action {
	background-color: white;
	bottom: 0;
	left: 0px;
	padding: $sapphire-sizes--small;
	position: fixed;
	right: 0px;
	width: 100%;
}

.content-with-bottom-action {
	padding-bottom: 72px;
}

.show-password {
	bottom: 0;
	padding: 20px 0 0 20px;
}