@use '~Settings/colors'as *;
@use '~Settings/fonts'as *;
@use '~Settings/sizes'as *;

.animated-label,
.animated-label.active,
.animated-label:focus {
	margin-bottom: $sapphire-sizes--large;

	.animated-label-text {
		color: unset;
		display: flex;
		font-size: $font-size-normal;

		.form-input__asterisk {
			color: $regular-red;
			margin-left: $sapphire-sizes--xsmall;
		}

		.form-input__label,
		.form-input__asterisk {
			font-size: $font-size-normal;
		}

		&:active {
			.form-input__label,
			.form-input__asterisk {
				font-size: $font-size-normal;
			}
		}
	}

	.animated-label-input input[data-input],
	&:empty {
		color: $dark-grey;
		//font-size: $font-size-heading3;
	}
}

.animated-label {
	&.is-select {
		.animated-label-text {
			color: $regular-grey;
			font-size: $font-size-normal;
			//position: relative;
			//top: 10px;
		}
	}

	.animated-label-text {
		//bottom: -30px;
		font-size: $font-size-heading4;
		//position: relative;
		transition: font-size 0.5s ease;
		z-index: 1;
	}

	&.active {
		.animated-label-text {
			top: -3px;
			color: $regular-grey;
			font-size: $font-size-normal;
			transition: font-size 0.5s ease;
		}

		.animated-label-input {
			color: $dark-grey;
		}
	}
}