//  CustomTabs
@use '~Settings/colors' as *;

.custom-tabs .tabs-header {
	background: $sapphire-primary-blue;
	/*secondary-color*/
}

.custom-tabs .tabs-header-tab {
	color: $regular-grey;
}

.custom-tabs .tabs-header-tab.active {
	color: $sapphire-white;
}
