@use '~Settings/colors'as *;
@use '~Settings/sizes'as *;

[data-dropdown] > div.dropdown-display {
	background: $sapphire-white;
	border: 0;
	color: $dark-grey;
}

[data-dropdown] > div.dropdown-display.dropdown-disabled {
	border-bottom: 0;
	color: $sapphire-light;
}

[data-dropdown] > div.dropdown-display:after {
	border-color: $regular-alpha; /*primary-color*/
	border-width: 2px;
	height: 10px;
	width: 10px;
}

[data-dropdown] div.dropdown-popup-row {
	color: $dark-grey;
}

[data-dropdown] div.dropdown-popup-row-selected {
	color: $regular-alpha;
	/*primary-color*/
}

.dropdown-expanded-down div.dropdown-list {
	border: 0;
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
	z-index: 11;
}

input[data-input].not-valid,
input[data-input].not-valid:focus,
textarea[data-textarea].not-valid,
textarea[data-textarea].not-valid:focus,
div.dropdown-display.not-valid,
div.button-group.not-valid > div {
	border: 0;
	border-bottom: 1px solid $regular-red;
}

.dropdown-container:after{
	display: none;
}

.dropdown-small > div.dropdown-display{
	padding: $sapphire-sizes--xsmall 0;
}

.dropdown-small > div.dropdown-display::after{
	top: 18px;
}

.dropdown-border-bottom{
	border-bottom:  1px solid #d3d3d3;
}