$sapphire-sizes: (
	'xxsmall': '2px',
	'xsmall': '4px',
	'small': '8px',
	'medium': '16px',
	'large': '24px',
	'xlarge': '32px',
	'xxlarge': '48px',
	'largest': '56px',
);

$sapphire-sizes--xxsmall: 2px;
$sapphire-sizes--xsmall: 4px;
$sapphire-sizes--small: 8px;
$sapphire-sizes--medium: 16px;
$sapphire-sizes--large: 24px;
$sapphire-sizes--xlarge: 32px;
$sapphire-sizes--xxlarge: 48px;
$sapphire-sizes--largest: 56px;

/* Header */
$default-menubar-height: 44px;
