@use '~Settings/colors' as *;
@use '~Settings/fonts' as *;
@use '~Settings/sizes' as *;

[id*='Notification_Detail'] {
	.date {
		font-size: $font-size-small;
		margin-bottom: $sapphire-sizes--small;
	}

	.title {
		font-family: $latin-bold;
		font-size: $font-size-heading1;
		margin-bottom: $sapphire-sizes--medium;

		.is-rtl & {
			font-family: $arabic-bold;
		}
	}
}
