@use '~Settings/colors'as *;
@use '~Settings/sizes' as *;
@use '~Settings/fonts' as *;

$mobile-input-width: 85px;

.onboarding-page {
  
  a:active {
    --webkit-filter: inherit;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  input:-internal-autofill-selected{
    -webkit-box-shadow: none !important;
    box-shadow: inset 0 0 0 1px $sapphire-white, inset 0 0 0 100px $sapphire-white !important;
    -webkit-text-fill-color: $dark-grey !important;
    font-size: $font-size-heading4;
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  input[type="date"]:empty{
    color: transparent;
  }

  .header{
    background-color: $sapphire-white;

    a,
    a:link,
    a:visited{
      color: $regular-alpha;
      font-family: $latin-bold;
      text-align: center;
    }

    .app-menu-icon{
      color: $regular-alpha;
    }
  }

  .mobile-with-flag {
    align-items: center;
    display: flex;

    >div {
      width: 100%;

      .animated-label {

        .flag {
          align-items: center;
          bottom: 3px;
          display: none;
          position: absolute;

          .flag-img {
            margin-right: 5px;
            width: 50px;

            .is-rtl & {
              margin-left: 5px;
            }

            img {
              height: auto;
              width: 100%;
            }
          }

          .phone-country-code{
            font-size: 18px;
            color: $mid-light-grey;
          }
        }

        &.active {
          
          .flag {
            display: flex;

            .is-rtl & {
              left: -20px;
              position: absolute;
            }
          }

          input[type='tel'] {
            padding-left: $mobile-input-width;
            position: relative;
            font-size: 18px;
          }
        }
      }
    }
  }

  .section-title{
    margin-bottom: $sapphire-sizes--xlarge;
    text-align: center;
  }

  .show-password{
    padding: 0px !important;
  }

  .terms-conditions{
    color: $regular-grey;
    font-size: $font-size-normal;
    letter-spacing: 0;
    line-height: 17px;
    margin-top: $sapphire-sizes--large;
    text-align: center;

    a{
      font-size: $font-size-normal;
      font-family: $latin-bold;
    }
  }
}