@use '~Settings/colors' as *;
@use '~Settings/sizes' as *;

$height-width: 65px;

[id*='IconPlus'] {
	bottom: $sapphire-sizes--medium;
	position: absolute;
	right: 0;
	z-index: 2;

	.next-appointment {
		bottom: 80px;
		position: fixed;
		right: 0;
	}

	.icon-plus {
		align-items: center;
		background-color: $regular-alpha;
		border-radius: 50%;
		color: $sapphire-white;
		display: flex;
		height: $height-width;
		justify-content: center;
		width: $height-width;
	}
}
